In [19]:
import pandas as pd
import numpy as np
import os

print(pd.__version__)  # ตรวจสอบเวอร์ชัน Pandas
print(np.__version__)  # ตรวจสอบเวอร์ชัน NumPy

2.2.3
2.1.3

In [20]:
#AP

# Correct file path for your system
file_path = r'C:\dev\Research\Data Frame\csv-data\data_pos_ap_all.csv'

# Load the dataset
data = pd.read_csv(file_path)

# Drop the 'Column1' column
data = data.drop(columns=['Column1','type'])

# Remove trailing zeros in the 'filename' column
data['filename'] = data['filename'].str.rstrip('0')

# Rename columns by appending '_AP' to the end of each relevant column
data.columns = [col + '_AP' if col not in ['filename', 'gender', 'age'] else col for col in data.columns]

# Save the modified dataset to a new CSV file
data.to_csv(r'C:\dev\Research\Data Frame\csv-data\data_pos_ap_all_modified_data.csv', index=False)

# Display the first few rows to verify the changes
print(data.head())

      filename gender  age  heigth_AP  width_AP  L1a_1c_AP  L1a_1r_AP  \
0  0001-F-037Y      F   37       2147      1823   876.2222   167.0618
1  0003-F-013Y      F   13       2428      1996   995.1376   915.0048
2  0004-F-010Y      F   10       2428      1996  1030.5450   262.7610
3  0005-F-025Y      F   25       2428      1960  1065.6940   352.9687
4  0006-F-031Y      F   31       2428      1848   856.3824   263.6143

   L1a_2c_AP  L1a_2r_AP  L1b_1c_AP  ...  L5a_2r_AP  L5b_1c_AP  L5b_1r_AP  \
0   1111.472   168.7665   865.9939  ...   980.1932   766.5613  1163.9790
1   1188.762   877.8941  1013.2270  ...  1628.5880   982.8820  1770.2740
2   1235.536   255.3068  1026.2910  ...   869.5652   915.9337   951.9692
3   1266.615   324.4597  1079.2700  ...  1043.5540   886.8709  1190.9260
4   1077.760   224.2906   878.2288  ...   926.3470   880.4554  1018.9140

   L5b_2c_AP  L5b_2r_AP  L1b_d_AP  L2b_d_AP  L3b_d_AP  L4b_d_AP  L5b_d_AP
0   1129.421  1157.6960         0         0         0         0         0
1   1266.552  1782.8980         0         0         0         0         0
2   1168.380   985.3234         0         0         0         0         0
3   1166.336  1207.6370         0         0         0         0         0
4   1158.821  1022.5800         0         0         0         0         0

[5 rows x 50 columns]

In [21]:
#LA

# Correct file path for your system
file_path = r'C:\dev\Research\Data Frame\csv-data\data_pos_la_all.csv'

# Load the dataset
data = pd.read_csv(file_path)

# Drop the 'Column1' column
data = data.drop(columns=['Column1', 'type'])

# Remove trailing zeros in the 'filename' column
data['filename'] = data['filename'].str.rstrip('1')

# Rename columns by appending '_AP' to the end of each relevant column
data.columns = [col + '_LA' if col not in ['filename', 'gender', 'age',] else col for col in data.columns]

# Save the modified dataset to a new CSV file
data.to_csv(r'C:\dev\Research\Data Frame\csv-data\data_pos_la_all_modified_data.csv', index=False)

# Display the first few rows to verify the changes
print(data.head())

      filename gender  age  heigth_LA  width_LA  L1a_1c_LA  L1a_1r_LA  \
0  0001-F-037Y      F   37       2428      1392   608.5929   352.6718
1  0003-F-013Y      F   13       2428      1996   772.4448   207.5458
2  0004-F-010Y      F   10       2428      1940   617.4070   400.7533
3  0005-F-025Y      F   25       2428      1940  1083.8950   248.5624
4  0006-F-031Y      F   31       2428      1996   853.2159   652.7126

   L1a_2c_LA  L1a_2r_LA  L1b_1c_LA  ...  L5b_2r_LA  S1a_1c_LA  S1a_1r_LA  \
0   826.9116   376.5861   580.5040  ...   1474.216   483.4817   1624.151
1   953.4622   269.9656   717.8275  ...   1126.033   551.5165   1240.550
2   782.6827   411.1787   594.9558  ...   1141.984   849.9302   1289.932
3  1273.3730   289.3103  1034.9970  ...   1265.159  1116.0610   1411.361
4  1026.8300   674.8260   812.7203  ...   1552.956  1148.7650   1672.106

   S1a_2c_LA  S1a_2r_LA  L1b_d_LA  L2b_d_LA  L3b_d_LA  L4b_d_LA  L5b_d_LA
0   681.5828   1508.435         0         0         0         0         0
1   704.9568   1149.355         0         0         0         0         0
2   937.3315   1150.672         0         0         0         0         0
3  1255.0260   1281.082         0         0         0         0         0
4  1234.4680   1571.705         0         0         0         0         0

[5 rows x 54 columns]

In [22]:
#disorder or normal

file_path = r'C:\dev\Research\Data Frame\csv-data\data_disorder_all.csv'

# Load the dataset
data = pd.read_csv(file_path)

# Drop the column
data = data.drop(columns=['Column1'])

# Save the modified dataset to a new CSV file
data.to_csv(r'C:\dev\Research\Data Frame\csv-data\data_disorder_all_modified_data.csv', index=False)

# Display the first few rows to verify the changes
print(data.head())

      filename gender  age Normal/Disorder
0  0001-F-037Y      F   37          Normal
1  0003-F-013Y      F   13          Normal
2  0004-F-010Y      F   10          Normal
3  0005-F-025Y      F   25          Normal
4  0006-F-031Y      F   31          Normal

In [23]:
# ระบุเส้นทางไฟล์ (file path)
file_1_path = r'C:\dev\Research\Data Frame\csv-data\data_disorder_all_modified_data.csv'
file_2_path = r'C:\dev\Research\Data Frame\csv-data\data_pos_ap_all_modified_data.csv'
file_3_path = r'C:\dev\Research\Data Frame\csv-data\data_pos_la_all_modified_data.csv'

df1 = pd.read_csv(file_1_path)
df2 = pd.read_csv(file_2_path)
df3 = pd.read_csv(file_3_path)

# Merge the datasets on 'filename', 'age', and 'gender'
merged_df = pd.merge(df1, df2, on=['filename', 'age', 'gender'], how='outer')
merged_df = pd.merge(merged_df, df3, on=['filename', 'age', 'gender'], how='outer')

# Save the modified dataset to a new CSV file
merged_df.to_csv(r'C:\dev\Research\Data Frame\csv-data\merged_data.csv', index=False)


# Display the first few rows to verify the changes
print(merged_df.head())

      filename gender  age Normal/Disorder  heigth_AP  width_AP  L1a_1c_AP  \
0  0001-F-037Y      F   37          Normal       2147      1823   876.2222
1  0003-F-013Y      F   13          Normal       2428      1996   995.1376
2  0004-F-010Y      F   10          Normal       2428      1996  1030.5450
3  0005-F-025Y      F   25          Normal       2428      1960  1065.6940
4  0006-F-031Y      F   31          Normal       2428      1848   856.3824

   L1a_1r_AP  L1a_2c_AP  L1a_2r_AP  ...  L5b_2r_LA  S1a_1c_LA  S1a_1r_LA  \
0   167.0618   1111.472   168.7665  ...   1474.216   483.4817   1624.151
1   915.0048   1188.762   877.8941  ...   1126.033   551.5165   1240.550
2   262.7610   1235.536   255.3068  ...   1141.984   849.9302   1289.932
3   352.9687   1266.615   324.4597  ...   1265.159  1116.0610   1411.361
4   263.6143   1077.760   224.2906  ...   1552.956  1148.7650   1672.106

   S1a_2c_LA  S1a_2r_LA  L1b_d_LA  L2b_d_LA  L3b_d_LA  L4b_d_LA  L5b_d_LA
0   681.5828   1508.435         0         0         0         0         0
1   704.9568   1149.355         0         0         0         0         0
2   937.3315   1150.672         0         0         0         0         0
3  1255.0260   1281.082         0         0         0         0         0
4  1234.4680   1571.705         0         0         0         0         0

[5 rows x 102 columns]

In [27]:
print(merged_df)

         filename gender  age Normal/Disorder  heigth_AP  width_AP  L1a_1c_AP  \
0     0001-F-037Y      F   37          Normal       2147      1823   876.2222
1     0003-F-013Y      F   13          Normal       2428      1996   995.1376
2     0004-F-010Y      F   10          Normal       2428      1996  1030.5450
3     0005-F-025Y      F   25          Normal       2428      1960  1065.6940
4     0006-F-031Y      F   31          Normal       2428      1848   856.3824
...           ...    ...  ...             ...        ...       ...        ...
5303  8635-M-027Y      M   27          Normal       3036      2268   913.4603
5304  8636-M-067Y      M   67        Disorder       3036      2120   768.2296
5305  8637-F-032Y      F   32          Normal       3036      1832   784.5172
5306  8642-M-036Y      M   36          Normal       3036      2316  1011.1860
5307  8651-F-048Y      F   48          Normal       3036      2396  1020.6870

      L1a_1r_AP  L1a_2c_AP  L1a_2r_AP  ...  L5b_2r_LA  S1a_1c_LA  S1a_1r_LA  \
0      167.0618   1111.472   168.7665  ...   1474.216   483.4817   1624.151
1      915.0048   1188.762   877.8941  ...   1126.033   551.5165   1240.550
2      262.7610   1235.536   255.3068  ...   1141.984   849.9302   1289.932
3      352.9687   1266.615   324.4597  ...   1265.159  1116.0610   1411.361
4      263.6143   1077.760   224.2906  ...   1552.956  1148.7650   1672.106
...         ...        ...        ...  ...        ...        ...        ...
5303   229.3830   1305.719   247.0279  ...   1696.374   979.9655   1805.583
5304   800.8047   1102.125   814.3777  ...   2191.453  1089.1740   2369.099
5305   727.5107   1072.264   738.3691  ...   1908.791  1215.1500   1959.919
5306   647.4302   1335.579   646.0729  ...   1654.854   952.6912   1879.818
5307   819.8069   1305.719   810.3058  ...   1941.172  1155.5000   2104.783

      S1a_2c_LA  S1a_2r_LA  L1b_d_LA  L2b_d_LA  L3b_d_LA  L4b_d_LA  L5b_d_LA
0      681.5828   1508.435         0         0         0         0         0
1      704.9568   1149.355         0         0         0         0         0
2      937.3315   1150.672         0         0         0         0         0
3     1255.0260   1281.082         0         0         0         0         0
4     1234.4680   1571.705         0         0         0         0         0
...         ...        ...       ...       ...       ...       ...       ...
5303  1212.9440   1614.832         0         0         0         0         0
5304  1316.3280   2146.314         0         4         0         0         3
5305   973.1425   2115.008         0         0         0         0         0
5306  1228.7840   1726.433         0         0         0         0         0
5307  1334.4490   1976.962         0         0         0         0         0

[5308 rows x 102 columns]

In [26]:

# โหลดข้อมูล
file_path = r'C:\dev\Research\Data Frame\csv-data\merged_data.csv'
data = pd.read_csv(file_path)

columns_ap = ['L1b_d_AP', 'L2b_d_AP', 'L3b_d_AP', 'L4b_d_AP', 'L5b_d_AP']
columns_la = ['L1b_d_LA', 'L2b_d_LA', 'L3b_d_LA', 'L4b_d_LA', 'L5b_d_LA']

# คำนวณจำนวนการเกิดของแต่ละคลาส (0, 1, 2, 3, 4) สำหรับคอลัมน์ AP
class_distribution_ap = data[columns_ap].apply(lambda col: col.value_counts(), axis=0)

# คำนวณจำนวนการเกิดของแต่ละคลาส (0, 1, 2, 3, 4) สำหรับคอลัมน์ LA
class_distribution_la = data[columns_la].apply(lambda col: col.value_counts(), axis=0)

# รวมผลลัพธ์จาก AP และ LA เข้าไว้ใน DataFrame เดียวกันเพื่อการเปรียบเทียบ
class_distribution_all = pd.concat([class_distribution_ap, class_distribution_la], axis=1, keys=['AP', 'LA'])

# แสดงผลลัพธ์
class_distribution_all.head()

        AP                                           LA                    \
  L1b_d_AP L2b_d_AP L3b_d_AP L4b_d_AP L5b_d_AP L1b_d_LA L2b_d_LA L3b_d_LA
0   5298.0   5283.0   5235.0   5235.0   5308.0   5276.0   5198.0   5097.0
1      4.0     12.0     30.0     40.0      NaN      NaN      NaN      NaN
2      6.0     13.0     43.0     33.0      NaN      NaN      NaN      NaN
3      NaN      NaN      NaN      NaN      NaN      1.0      8.0    132.0
4      NaN      NaN      NaN      NaN      NaN     31.0    102.0     79.0


  L4b_d_LA L5b_d_LA
0   4896.0   5116.0
1      NaN      NaN
2      NaN      NaN
3    350.0    166.0
4     62.0     26.0

In [29]:
import pandas as pd

# โหลดไฟล์ CSV
file_path = r'C:\dev\Research\Data Frame\csv-data\merged_data.csv'  # เปลี่ยนเป็น path ของไฟล์คุณ
data = pd.read_csv(file_path)

# แปลงค่าในคอลัมน์ 'Normal/Disorder'
data['Normal/Disorder'] = data['Normal/Disorder'].map({'Normal': 0, 'Disorder': 1})

# บันทึกไฟล์ CSV ใหม่หากต้องการ
data.to_csv(r'C:\dev\Research\Data Frame\csv-data\merged_data_fix1.csv', index=False)